{{define "subject"}}Welcome to ChatApp!{{end}}
{{define "plainBody"}}
Hi,
Thanks for signing up for a ChatApp account. We're excited to have you on board!
For future reference, your user ID number is {{.userID}}.
Please send a request to the `http://localhost:4000/users/activate?token={{.activationToken}}` endpoint with the following JSON
body to activate your account:
{"token": "{{.activationToken}}"}
Please note that this is a one-time use token and it will expire in 3 days.
Thanks,
The ChatApp Team
{{end}}
{{define "htmlBody"}}
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Hi,</p>
<p>Thanks for signing up for a ChatApp account. We're excited to have you on board!</p>
<p>For future reference, your user ID number is {{.userID}}.</p>
<p>Please send a request to the <a href="http://localhost:4000/users/activate?token={{.activationToken}}">Activate</a> endpoint with the
following JSON body to activate your account:</p>
<pre><code>
{"token": "{{.activationToken}}"}
</code></pre>
<p>Please note that this is a one-time use token and it will expire in 3 days.</p>
<p>Thanks,</p>
<p>The ChatApp Team</p>
</body>
</html>
{{end}}